.container {
    cursor:default;
    margin: 0 auto;
    width: 1000px;
    height: 700px;
}

.for-blocks {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.my-block1,.my-block2,.my-block3{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.for-toggle-blocks{
    align-self: flex-end;
}

.my-block1 {
    background-color: red;
    width: 200px;
    height: 200px;
}

.my-block2 {
    background-color: blue;
    width: 200px;
    height: 200px;
}

.my-block3 {
    background-color: green;
    width: 200px;
    height: 200px;
}